html {
    height: 100%;
}

body {
    height: 100%;
    background: orange; 
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.navbar{
    background-color:black;
    display:flex;
    justify-content:space-around;
}

.navbar a {
    color:white;
}

.social{
    background-color:gray;
    display:flex;
    justify-content:space-around;
}

.gallery{
    background-color:blue;
    display:flex;
    justify-content:space-around;
}

.thumbnail-image{
    width:100px;
    height:100px;
}

.aboutMain{
    display: flex;
    justify-content:space-around;
}

.leftPane{
    width: 30%;
}

.rightPane{
    width: 70%;
}
img{
    max-width: 100%;
}
.rightPane img{
    width: 100%;
}